*
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif
  margin: 0px

html, body
  height: 100%
  width: 100%

main
  width: 100%

.container
  max-width: 60%
  margin: 0 auto

  @media( max-width: 768px )
    max-width: 100%

.container-products
  display: flex
  justify-content: center
  margin-bottom: 25px

.page-tittle
  margin: screen
.mb-1
  margin-bottom: 5px
.mb-2
  margin-bottom: 10px
.mb-3
  margin-bottom: 20px
.mt-1
  margin-top: 5px
.mt-2
  margin-top: 10px
.mt-3
  margin-top: 15px
.text-center
  text-align: center
