*
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif
    margin: 0px

html, body
    height: 100vh
    width: 100vw

main 
    width:  100%

.container
    display: flex
    justify-content: center