.product-form
  max-width: 50%
  margin: 0 auto
  @media  ( max-width: 768px )
    max-width: 85%

.product-desc
  padding: 5px
  margin-top: 7px
  color: $grey-color
  resize: none
  border: 2px solid $primary-color
  &:focus
    outline: none
